body {
	background-image: url(https://images.unsplash.com/photo-1465426721606-27b1239015fd?ixlib=rb-1.2.1&w=1000&q=80);
	background-size: cover;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
}

#but1 {
	color: red;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 350px;	
}
#but1:hover {
	text-decoration: none;
	transform: scale(1.4);
	transition: 0.5s;
}*/